* {
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(185, 75%, 39%);
    background-size: 60rem;
    --pattern-ratio: 0.7;
    --top-pattern-position: calc(-20rem - ((80rem - 100vw) * var(--pattern-ratio))) -35rem;
    --bottom-pattern-position: 45vw 50vh;
    background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
    background-position: var(--top-pattern-position), var(--bottom-pattern-position);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    border-radius: 5%;
    margin: auto;
    padding: 100px 0px 25px 0px;
    background-color: whitesmoke;
    background-image: url(../images/bg-pattern-card.svg);
    background-position: bottom -100%;
    background-repeat: repeat-x;
    min-height: 300px;
}
.card__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card__info--sameLine{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    width: 140px;
}
.card__stats {
    display: flex;
    flex-direction: row;
}
.card__stats__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.card__img {
    height: 100px;
    border-radius: 50%;
    border: 5px whitesmoke solid;
}

img {
    height: auto;
    max-width: 100%;
    border-radius: 50%;
}

strong {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
p {
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(0, 0%, 59%);
    font-size: 14px;
}

#age{
    font-weight: 700;
    font-size: 18px;
}

#split {
    width: 350px;
    border: 0.5px solid hsl(0, 0%, 59%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }